<header id="header">
    <nav class="main-nav">
        <ul>
            {{ range .Site.Menus.main }}
            {{ $url := .URL }}
            {{ $rel := $.RelPermalink }}
            {{ $isHome := eq $url "/" }}
            {{ $isActive := or (and $isHome (eq $rel "/")) (and (not $isHome) (strings.HasPrefix $rel $url)) }}
            <li>
                <a href="{{ .URL | relLangURL }}" class="{{ if $isActive }}active{{ end }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
