{{ define "main" }}
<div class="home">
    <div class="home-avatar">
        <img src="https://unavatar.io/github/{{ .Site.Params.github }}?ttl=7d" alt="avatar" class="avatar-img">
    </div>
    <h1 class="home-name">{{ .Site.Params.name }}</h1>
    <p class="home-description">{{ .Site.Params.description }}</p>
    <div class="home-socials">
        <a href="https://github.com/{{ .Site.Params.github }}" target="_blank" rel="noopener noreferrer">
            {{ partial "icons/github.html" . }}
        </a>
        <a href="https://x.com/{{ .Site.Params.x }}" target="_blank" rel="noopener noreferrer">
            {{ partial "icons/x.html" . }}
        </a>
    </div>
</div>
{{ end }}
